.container{
  border: 1px solid black;
  margin: auto;
  width: 35%;
  height: 300px;
  /* display: flex;
  flex-wrap: wrap; */
  text-align: center;
  margin-top: 8rem;
  background-color: black;
  color: white;
  border-radius: 10px;
  padding-top: 2rem;
}

.txt-fld{
  height: 40px;
  width: 300px;
  /* border: none; */
  border-radius: 20px;
}

label{
  height: 30px;
  width: 110px;
}

.btn1{
  border-radius: 20px;
  height: 40px;
  width: 120px;
  position: relative;
  right: 30px;
}

h1{
  position: relative;
  right: 30px;
}
.userDiv{
  margin-top: 3rem;
  text-align: center;
}

.btn2{
  margin-bottom: 2rem;
}